p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
  line-height: 1.45;
}
.intro p {
  padding: 12px 0;
}
h2 {
  color: #474747;
  font-size: 1.23rem;
}

.lead-second{
  font-size: 2.4rem;
}
#contact{
  border-bottom: 1px solid rgba(42, 103, 147, 0.208);
  padding-bottom: 2px;
  margin-bottom: 1rem;
}

.intro h2 {
  padding: 12px 0;
  font-size: 2rem;
  line-height: 1.1;
  
}
h1 {
  padding: 25px 0;
}
.feature-text h3 {
  font-size: 1.4rem;
  color: #474747;
  margin-bottom: .8rem;
}


.intro h1 {
  padding-bottom: 1px;
  display: inline-block;
  border-bottom: 7px solid #2a6793;
  margin-bottom: 40px;
}
.container.ui-content {
  padding: 0 !important;
  margin: 0 !important;
}
.flex-container {
  display: flex;
  flex-direction: column;
}
.lead-image.feature {
 
 
  height: 290px !important;
}

.lead-image {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(65, 65, 65, 0.53)
    ),
    url("../images/large/londonscene.jpg");
  background-repeat: no-repeat;
  background-position: center;

  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 0;
  height: 385px !important;
}

.lead-image.small{
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(65, 65, 65, 0.53)
    ),
    url("../images/large/1_largelead.jpg");
    height: 200px !important;
}


.lead-image.about{
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(65, 65, 65, 0.53)
    ),
    url("../images/large/5_largelead.jpg");
    height: 200px !important;
}


/* Popup */
#popupImage {
  margin: auto;
 
  background-image: none;
  border-radius: 0;
  background-color: #617a8c;
  height: 370px !important;
  border: 0;
  position: relative;
  z-index: 10;
}

.fas.fa-angle-right {
  font-size: 3.9rem;
  position: absolute;
  top: 45%;
  right: 1rem;
}

.fas.fa-angle-left {
  font-size: 3.9rem;
  position: absolute;
  top: 45%;
  left: 1rem;
}


.fas.fa-angle-left::before{
  color: #f1f7fa;
}
.fas.fa-angle-right::before{
  color: #f1f7fa
}

.fas.fa-times {
  color: #f1f7fa;
  font-size: 2.5rem;
  position: relative;
  left: 90%;
  top: 0.75rem;
  cursor: pointer;
}

.lead-image h1 {
  color: white;
  display: inline-block;
  position: relative;
  top: 90px;
  left: 50%;
  
  margin-left: -150px;
  margin-bottom: 50px;
  padding-bottom: 1px;
  border-bottom: 7px solid #2a6793;
}

@media screen and (max-width: 375px) {
  .lead-image h1 {
    margin-left: -140px;
    font-size: 1.75em  !important;

  }
  .intro h2{
    font-size: 1.55rem
  }
  .feature-text.info h2{
     font-size: 1.35rem;
  }
  .content-featured .image img {
    width: 125px !important;
  }
}

#desc{
  top: 65%;
  left: 175px;
  padding-left: 0;
  font-size: 1.75rem !important;
}
.property-table {
  padding: 15px;
}

.lead-image.small {
  height: 200px;
}

.ham.ui-link.ui-btn {
  padding: 17px !important;
  margin-left: 15px !important;
  background-color: #2a6793;
  border: 0 !important;
}
.ham.ui-link.ui-btn:hover {
  background-color: #2a6793;
}
.ui-btn.lead {
  position: absolute;
  width: 190px;
  top: 80%;
  left: 50%;
  margin: -90px;

  font-size: 16px;
  border-radius: 4px;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  /* align-items: center; */
  margin: 0 15px;
}
.ui-btn.secondary {
  /* margin: 0px 15px 30px 15px; */
  padding: 7px 10px 7px 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  align-content: center;
  align-items: center;
  /* background-color: #fff !important; */
  /* border: 3px solid #2a6793 !important;
  border-radius: 18px; */
  width: 85%;
  border-radius: 4px;
  
}

#common {
  width: 200px;
  margin-right: 25px;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

/* .ui-page-theme-a.ui-bar-inherit.ui-header.ui-bar-inherit {
  !important; 
} */

.ui-header.ui-bar-inherit {
  border: 1px solid #2e2e2e !important;
}

.content-featured {
  
  margin-top: 15px;
}

.content-featured.blue {
  background-color: #e3f2fd;
 
  padding: 30px 0 70px 0;
  

}

.content-featured.blue img {
  position: relative;
  top: -10px;
}

.feature-text {
  
  padding: 15px 20px;
}

.feature-text.info{
  min-height: 150px;
  margin-top: 0;
  padding-top: 0;
}


.image {
  float: left;
  padding: 0px 20px 0 20px;
  clear: both;
}

.image img {
  width: 180px;
}

#price {
  font-size: 1.2rem;
  font-weight: 900;
  color: #474747;
}
/* 
.ui-checkbox{
   max-width: 8rem; 
} */

/* .ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset{
  width: 100% !important;
  float: none !important;
} */

.mm-container {
  margin-left: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 230px;
}
.location-container {
  margin-left: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 290px;
}

/* .ui-btn{
  padding: 25px !important;
} */

.ui-btn::after {
  background-size: 25px !important;
  width: 25px !important;
  height: 25px !important;
}

.back.ui-link.ui-icon-back {
  border: 0;
  background-color: #2a6793;
  padding: 18px;
}

.ui-link.ui-btn.ui-icon-lock.ui-btn-icon-top {
  border: 0;
  background-color: #2a6793;
  padding: 18px;
}

.ui-link.ui-btn.ui-icon-user.ui-btn-icon-top {
  border: 0;
  background-color: #2a6793;
  padding: 18px;
}

.back.ui-link.ui-icon-back:hover {
  border: 0;
  background-color: #2a6793;
  padding: 18px;
}

.home.ui-link.ui-btn.ui-icon-home {
  border: 0;
  background-color: #2a6793;
  padding: 18px;
}



#main-button {
  width: 200px;
  margin: auto;
  position: relative;
  top: 6rem;
}
#favourite{
  margin-top: 1rem;
}

#favourited {
  background-color: rgba(250, 203, 211, 0.349);
  border: 1px solid #ec355437;
  border-radius: .4em;
  padding: 11px 45px;
  font-weight: 900;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  box-shadow: 2px 2px 4px #ffe4e4;
}
.fas.fa-heart::before {
  color: #ec3553 !important;
}



.back-home {
  padding: 0 15px;
}

.intro {
  padding: 15px 20px 5px 20px;
}

#registerForm{
  width: 80%;

  padding: 10px 15px;
  margin: auto;
}

.label {
  min-width: 45px;
  display: block;
}

legend{
  font-weight: 900;
  width: 100%;
  
}
.ui-mobile label {
  font-weight: 900;
  display: block;
  width: 100%;
}

input[type="submit"] {
  left: 15px !important;
}
.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
  width: 85%;
  float: none;
  margin: 0;
}


.ui-controlgroup-vertical .ui-controlgroup-controls .ui-btn.ui-last-child {
  padding-left: 40px;
  font-weight: normal;
  font-size: 15px !important;
  border: 0;
  background: #f9f9f9;
}

.ui-btn.ui-input-btn.ui-corner-all.ui-shadow {
  width: 140px;
  font-size: 12px;
  margin-bottom: 2rem;
  /* margin: 35px 35px; */
  /* height: 20px; */
}






.ui-field-contain{
  border: 0 !important;
}




.ui-content .ui-listview {
  margin: 10px 15px !important;
}

.list-flex{
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  
}
.list-flex a{
  font-size: 1.35rem;
  text-decoration: none;
}
.ui-li-has-thumb {
  padding-top: 0 !important;
}

.ui-li-has-thumb p {
  margin: 0 !important;
}

.list-flex p{
  padding-bottom: 0 !important;;
  margin: .1em !important;
}
.contact{
  display: flex;
  justify-content: flex-start;
  margin-bottom: 2rem;


}
#extra {
  font-size: 1.3rem;
  border-bottom: 1px solid rgba(42, 103, 147, 0.171);
  /* display: inline-block; */
 
 
}

.ui-listview li {
  font-size: 1rem !important;
}

.fa-sms::before{
  font-size: 2.75rem;
  color: #2a6793;
  margin-left: 2rem;
  margin-top: 9rem;
  /* margin-left: 3rem; */
}

.fa-phone::before{
  font-size: 2.75rem;
  color: #2a6793;
  margin-left: .4rem;
  margin-top: 9rem;
}
.fa-envelope-square::before{
  font-size: 2.75rem;
  color: #2a6793;
  margin-left: 2rem;
  margin-top: 9rem;

}


#sms{
  margin-left: .8rem;
}


/* collapsible */
.ui-collapsible-heading-toggle.ui-btn{
  padding: 8px 50px !important;

}

/* favourites page */

#fave-list{
  list-style: none;
  margin-left: 0 !important;
  padding-left: 0 !important;
  width: 70%;
  display: flex;
  flex-direction: column;
  
}

.item {
 
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.item a {
  margin-left: 1.1rem;
}



